<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.pawhaven">

    <application
        android:allowBackup="true"
        android:label="PawHaven"
        android:localeConfig="@xml/locale_config"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawHaven">

        <!-- LAUNCHER ACTIVITY -->
        <activity
            android:name="com.udacity.pawhaven.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.udacity.pawhaven.ProfileActivity" />
        <activity android:name="com.udacity.pawhaven.PetListActivity" />
        <activity android:name="com.udacity.pawhaven.PetDetailActivity" />
        <activity android:name="com.udacity.pawhaven.AddAnimalActivity" />



    </application>

</manifest>
